<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-wmis-component-heading"
        data-cy="WMISComponentCreateUpdateHeading"
        jhiTranslate="spiderApp.wMISComponent.home.createOrEditLabel"
      >
        Create or edit a WMIS Component
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="spiderApp.wMISComponent.componentName" for="field_componentName">Component Name</label>
          <input
            type="text"
            class="form-control"
            name="componentName"
            id="field_componentName"
            data-cy="componentName"
            formControlName="componentName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="spiderApp.wMISComponent.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="spiderApp.wMISComponent.instance" for="field_instance">Instance</label>
          <select
            class="form-control"
            id="field_instance"
            data-cy="instance"
            name="instance"
            formControlName="instance"
            [compareWith]="compareInstance"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="instanceOption" *ngFor="let instanceOption of instancesSharedCollection">{{ instanceOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
